@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "New Post";
}

<h1>New Post</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Add enctype in order to allow file inputs -->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <!-- Add file input, ImageFile is the file property that was added to the Discussion model -->
            <div class="form-group">
                <label asp-for="ImageFile" class="form-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <!-- When you press the Submit button, the browser assembles the <input> elements into a collection of text-based key/value pairs, then sends the data to a web server.-->
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
