@model CatForum.Models.Discussion

@{
    ViewData["Title"] = "Edit Post";
}

<h2 class="mt-4">Edit Post</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Title" class="control-label mb-2 fs-5"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Content" class="control-label mb-2 fs-5"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="ImageFilename" class="form-label fs-5">Image</label>
                <input asp-for="ImageFilename" class="form-control" readonly />
                <span asp-validation-for="ImageFilename" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DiscussionId" />
            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn text-black fs-6 me-1" style="background-color: white; border: 1px solid black;" />
                <a href="@Url.Action("Index")" class="btn text-black fs-6" style="background-color: #f5f5f5; border: 1px solid black;">Back to Posts</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
