<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CatForum.styles.css" asp-append-version="true" />
    <!-- Cat favicon from Font Awesome -->
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox='0%200%20576%20512'%3E%3Cpath%20d='M320%20192l17.1%200c22.1%2038.3%2063.5%2064%20110.9%2064c11%200%2021.8-1.4%2032-4l0%204%200%2032%200%20192c0%2017.7-14.3%2032-32%2032s-32-14.3-32-32l0-140.8L280%20448l56%200c17.7%200%2032%2014.3%2032%2032s-14.3%2032-32%2032l-144%200c-53%200-96-43-96-96l0-223.5c0-16.1-12-29.8-28-31.8l-7.9-1c-17.5-2.2-30-18.2-27.8-35.7s18.2-30%2035.7-27.8l7.9%201c48%2060.1%2084.1%2046.8%2084.1%2095.3l0%2085.3c34.4-51.7%2093.2-85.8%20160-85.8zm160%2026.5s0%200%200%200c-10%203.5-20.8%205.5-32%205.5c-28.4%200-54-12.4-71.6-32c0%200%200%200%200%200c-3.7-4.1-7-8.5-9.9-13.2C357.3%20164%20352%20146.6%20352%20128c0%200%200%200%200%200l0-96%200-20%200-1.3C352%204.8%20356.7%20.1%20362.6%200l.2%200c3.3%200%206.4%201.6%208.4%204.2c0%200%200%200%200%2001L384%2021.3l27.2%2036.3L416%2064l64%200%204.8-6.4L512%2021.3%20524.8%204.3c0%200%200%200%200%200c2-2.6%205.1-4.2%208.4-4.2l.2%200C539.3%20.1%20544%204.8%20544%2010.7l0%201.3%200%2020%200%2096c0%2017.3-4.6%2033.6-12.6%2047.6c-11.3%2019.8-29.6%2035.2-51.4%2042.9zM432%20128a16%2016%200%201%200%20-32%200%201%200%2032%200zm48%2016a16%2016%200%201%200%200-32%2016%2016%200%201%200%200%2032z'%20fill='%23f4b26e'%2F%3E%3C%2Fsvg%3E">
</head>
<body style="background-color: #FFEAD3;">

    <!-- Banner image -->
    <div class="banner" style="background-image: url('/images/cat-banner.jpg'); background-size: cover; height: 200px;"></div>

    <!-- Nav bar -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white box-shadow">

            <div class="container-fluid">
                <!-- Add logo image -->
                <a class="navbar-brand mx-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/forum-logo.png" alt="Cat Forum Logo" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 fs-4">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-controller="Discussions" asp-action="Index">My Posts</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark" asp-controller="Discussions" asp-action="Create">Create New Post</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/cc43ecd15a.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
