@using Microsoft.AspNetCore.Identity
<!-- Add this -->
@using CatForum.Data 

<!-- Change from IdentityUser to ApplicationUser -->
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- Adjust font size for Register and Login links -->
<ul class="navbar-nav fs-5">
@if (SignInManager.IsSignedIn(User))
{
    <!-- Moved from _Layout.cshtml to here so only displays when user is logged in -->
    <li class="nav-item mx-3">
        <a class="nav-link text-dark" asp-controller="Discussions" asp-action="Index">My Posts</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Profile" asp-route-id="@UserManager.GetUserId(User)">Profile</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Profile</a>
    </li>
    <li class="nav-item mx-3">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item mx-3">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>