@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6">Cat Forum</h1>
    <p class="fs-4">A forum community dedicated to cat owners and enthusiasts. Come join the discussion about breeds, 
        behavior, health, nutrition, grooming, adoption, training, accessories, housing, and more!</p>
</div>