<!-- Assignment 2 final commit -->
@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="mt-4">Create New Account</h2>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DisplayName" class="form-control" aria-required="true" />
                <label asp-for="Input.DisplayName">Username</label>
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" aria-required="true" />
                <label asp-for="Input.Name">Full Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Location" class="form-control" />
                <label asp-for="Input.Location">Location</label>
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ImageFilename" class="form-control" />
                <label asp-for="Input.ImageFilename">Profile Picture Filename</label>
                <span asp-validation-for="Input.ImageFilename" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ImageFile" type="file" class="form-control" />
                <label asp-for="Input.ImageFile">Profile Picture</label>
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn text-black fs-6 w-100" style="background-color: #f5f5f5;; border: 1px solid black;">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}